<script setup lang="ts">
import { ref, nextTick } from 'vue';


import { type Product } from '@/types/Product'
import ProductList from '@/components/ProductList.vue';
import { type ReceiptItem } from '@/types/ReceiptItem';
import { useReceiptStore } from '@/stores/receipt';
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';


const products1: Product[] = [
    {
        id: 1,
        name: 'late',
        price: 40.0,
        type: 1
    },
    {
        id: 2,
        name: 'capuchino',
        price: 55.0,
        type: 1
    },
    {
        id: 3,
        name: 'mocka',
        price: 50.0,
        type: 1
    },
    {
        id: 4,
        name: 'arabika',
        price: 60.0,
        type: 1
    },
    {
        id: 5,
        name: 'espresso',
        price: 35.0,
        type: 1
    },
    {
        id: 6,
        name: 'late',
        price: 55.0,
        type: 1
    },
    {
        id: 7,
        name: 'late',
        price: 45.0,
        type: 1
    },
    {
        id: 8,
        name: 'late',
        price: 40.0,
        type: 1
    },
    {
        id: 9,
        name: 'late',
        price: 40.0,
        type: 1
    },
    {
        id: 2,
        name: 'capuchino',
        price: 55.0,
        type: 1
    },
    {
        id: 3,
        name: 'mocka',
        price: 50.0,
        type: 1
    },
    {
        id: 4,
        name: 'arabika',
        price: 60.0,
        type: 1
    },
    {
        id: 5,
        name: 'espresso',
        price: 35.0,
        type: 1
    },
    {
        id: 6,
        name: 'late',
        price: 55.0,
        type: 1
    },
    {
        id: 7,
        name: 'late',
        price: 45.0,
        type: 1
    },
    {
        id: 8,
        name: 'late',
        price: 40.0,
        type: 1
    },
    {
        id: 9,
        name: 'late',
        price: 40.0,
        type: 1
    }
]
const products2: Product[] = [
    {
        id: 1,
        name: 'late',
        price: 40.0,
        type: 1
    },
    {
        id: 2,
        name: 'capuchino',
        price: 55.0,
        type: 1
    }
]
const products3: Product[] = [
    {
        id: 1,
        name: 'late',
        price: 40.0,
        type: 1
    },
    {
        id: 2,
        name: 'capuchino',
        price: 55.0,
        type: 1
    },
    {
        id: 3,
        name: 'mocka',
        price: 50.0,
        type: 1
    }
]

function showReceipt(){
    receiptStore.showReceiptDialog()
}

const receiptStore = useReceiptStore()
const tab = ref(1)
const divReceiptItems = ref<HTMLElement | null>(null)
const selected = (p: Product) => {
    console.log("ProductView: " + p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    })
}

</script>


<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" >
                <v-container style="padding: 0;">
                    <v-row>
                        <v-col cols="12">
                            <div ref="divReceiptItems" style="height: 300; overflow: auto">
                                <v-sheet min-width="300" max-width="600" height="300" elevation="6">
                                    <ReceiptDetailTable></ReceiptDetailTable>
                                </v-sheet>
                            </div>

                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="100" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="85" elevation="6">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl"  size="x-large" style="background-color: rgb(255, 81, 81);">Cancle</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" size="x-large" style="background-color: rgb(68, 222, 68);" @click="showReceipt()">Purchase</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col cols="12" md="6" >
                <v-sheet min-width="300" max-width="600" height="600" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">Baverages</v-tab>
                        <v-tab :value="2">Smoothies</v-tab>
                        <v-tab :value="3">Water</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                        </v-window-item></v-window>
                    <v-window v-model="tab">
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                        </v-window-item></v-window>
                    <v-window v-model="tab">
                        <v-window-item :value="3">
                            <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                        </v-window-item></v-window>
                </v-sheet>
            </v-col>
        </v-row>

    </v-container>

    <ReceiptDialog></ReceiptDialog>
</template>