<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';
import { type Ref } from 'vue';
import { inject } from 'vue';


const receiptStore = useReceiptStore()

</script>

<template>
    <v-dialog v-model="receiptStore.receiptDialog" persistent width="auto">
        <v-card>
            <v-card-title class="text-h5">
                Use Google's location service?
            </v-card-title>
            <v-card-text>
                {{ receiptStore.receipt }}
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green-darken-1" variant="text" @click="receiptStore.receiptDialog = false">
                    Cancel
                </v-btn>
                <v-btn color="green-darken-1" variant="text" @click="receiptStore.receiptDialog = false; receiptStore.clear()" >
                    Confirm 
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>